:root {
  --tnic-primary-color: #77a741;
  --tnic-primary-color-hover: #77a741d9;
  --tnic-text-color-black: #2a2a2a;
  --tnic-body-font-size: 14px;
  --tnic-title-font-size: 16px;
}

.tnic-chart {
  position: relative;
  padding: 1em;
}

/*** Message ***/

.tnic-message {
  font-size: var(--tnic-body-font-size);
  position: relative;
  min-height: 1em;
  margin: 1em 0;
  background: #f8f8f9;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease,
    box-shadow 0.1s ease;
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 transparent;
}

.tnic-message.centered {
  text-align: center;
  top: calc(50% - 1em);
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10;
}

.tnic-message.error {
  background-color: #fff6f6;
  color: #9f3a38;
  box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
}

/*** Message End ***/

/*** Table ***/

/*Set your columns to where you want them to be, skip the one that you can have resize to any width*/
th:nth-child(1),
td:nth-child(1) {
  width: 62%;
}
th:nth-child(2),
td:nth-child(2) {
  width: auto;
}

.tnic-table {
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  border-collapse: separate;
  border-spacing: 0;
  font-size: var(--tnic-body-font-size);
}

/* sticky header */
.tnic-table,
.tnic-table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.tnic-table tbody {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}

.tnic-table td {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* sticky header end */

.tnic-table thead th {
  cursor: auto;
  color: rgba(0, 0, 0, 0.87);
  padding: 0.6em 0.6em;
  font-weight: bold;
  text-transform: none;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

.tnic-table thead tr:first-child th {
  padding-top: 0.6em;
}

.tnic-table td:first-child,
.tnic-table th:first-child {
  padding-left: 0;
}

.tnic-table tr td:first-child,
.tnic-table tr th:first-child {
  border-left: none;
}

.tnic-table tr td,
.tnic-table tr th {
  border-left: 1px solid rgba(34, 36, 38, 0.1);
}

.tnic-table th {
  background: 0 0;
  border-left: none;
}

.tnic-table tr:first-child td {
  border-top: none;
}

.tnic-table tr td:first-child,
.tnic-table tr th:first-child {
  padding-left: 0;
  border-left: none;
}

.tnic-table tr td {
  border-top: 1px solid rgba(34, 36, 38, 0.1);
}

.tnic-table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tnic-table td {
  padding: 0.6em 0.6em;
  text-align: inherit;
}

/*** Table End ***/

/*** TimeRange ***/

.tnic-timeRP {
  position: relative;
}

.tnic-timeRP .tnic-timeOption:hover .tnic-hovertext {
  visibility: visible;
}

/*** Overlay ***/

.tnic-overlay {
  position: absolute;
  top: 110%;
  box-shadow: 0px 2px 3px 0px #ccc, 0px 6px 10px 4px #ccc;
  background-color: #fff;
  z-index: 100;
}

.tnic-overlay--container {
  box-sizing: content-box;
  width: 300px;
  height: 336px;
  overflow: auto;
}

/*** Icon ***/
.tnic-icon {
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

/*** Input ***/

.tnic-input {
  border: 1px solid #e0e0e0;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  box-sizing: border-box;
}

/*** Button ***/

.tnic-button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  font-size: var(--tnic-body-font-size);
  outline: none;
  border: none;
  vertical-align: baseline;
  background: var(--tnic-primary-color) none;
  color: #ffffff;
  font-family: inherit;
  margin: 0em 0.4em 0em 0.4em;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.21428571rem;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px #d1d5db inset;
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  -webkit-tap-highlight-color: transparent;
}

.tnic-button:hover {
  background-color: var(--tnic-primary-color-hover);
  background-image: none;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px #d1d5db inset;
  color: #ffffff;
}

.tnic-button.tnic-button--basic {
  background: none;
  color: var(--tnic-text-color-black);
  font-weight: normal;
  border-radius: 0.21428571rem;
  text-transform: none;
  text-shadow: none;
  box-shadow: none;
}

.tnic-button.tnic-button--basic:hover {
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.8) !important;
}

.tnic-button.tnic-button--compact {
  padding: 0.58928571em 1.125em 0.58928571em !important;
}

.tnic-button.tnic-button--primary:hover {
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px #d1d5db inset;
  color: #ffffff;
}

.tnic-button.tnic-button--primary:hover {
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px #d1d5db inset;
  color: #ffffff;
}

.tnic-button--icon {
  margin: 0em 0.4em 0em 0.4em;
  padding: 4px;
  border-radius: 15%;
  display: flex;
  height: 100%;
  align-items: center;
}

.tnic-button.tnic-button--compact.tnic-button--icon {
  padding: 4px !important;
}

.tnic-button.tnic-button--icon:hover {
  color: var(--tnic-primary-color-hover);
  box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 35%) inset,
    0px 0px 0px 0px #d1d5db inset;
}

.tnic-button--disabled {
  cursor: default;
  opacity: 0.45 !important;
  background-image: none !important;
  box-shadow: none !important;
  pointer-events: none !important;
}

/*** Options Item ***/

.tnic-timeOption {
  height: 48px;
  padding: 0 18px 0 12px;
  font-size: var(--tnic-body-font-size);
  line-height: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  user-select: none;
}

.tnic-timeOption.tnic-timeOption--active {
  background: var(--tnic-primary-color-hover) !important;
  color: #fff;
  font-weight: bold;
  fill: #fff;
}

.tnic-timeOption:hover {
  background: rgba(238, 238, 238, 0.577);
  opacity: 0.8;
}

.tnic-timeOption .tnic-input {
  width: 34px;
}

/*** Title ***/
.tnic-title {
  font-weight: bold;
  font-size: var(--tnic-title-font-size);
  flex: 1;
}

/*** Header/Footer ***/
.tnic-header {
  border-bottom: 1px solid #ccc;
}

.tnic-header,
.tnic-footer {
  display: flex;
  height: 40px;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.6em;
  align-items: center;
}

.tnic-footer {
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ccc;
}

.tnic-header .tnic-button {
  margin-right: 0;
}
.tnic-footer .tnic-button {
  margin-right: 0;
}
/*** Other ***/

.tnic-hovertext {
  visibility: hidden;
}

/*** DayPicker-Day ***/

.tnic-dayPicker .DayPicker-Caption > div {
  font-size: 18.4px;
  line-height: initial;
}

.tnic-dayPicker
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: var(--tnic-primary-color);
  opacity: 0.8;
}

.tnic-dayPicker
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: var(--tnic-primary-color);
}

.tnic-dayPicker
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: var(--tnic-primary-color);
  color: #fff;
  opacity: 0.8;
}
.tnic-dayPicker .DayPicker-Day {
  border-radius: 0 !important;
  box-sizing: initial;
  font-size: 16px;
}

.tnic-dayPicker .DayPicker-Weekday {
  font-size: 14px;
}

.tnic-dayPicker .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.tnic-dayPicker .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

/*** Dropdown ***/
.tnic-dropdown {
  position: relative;
  display: inline-block;
}

.tnic-dropdown .tnic-button {
  padding: 0 5px;
  line-height: 30px;
  background: none;
  color: var(--tnic-text-color-black);
}

.tnic-dropdown .tnic-button:hover {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.04);
}

.tnic-dropdown__active .tnic-dropdown--menu {
  display: block !important;
  visibility: visible !important;
}

.tnic-dropdown--item.tnic-dropdown__selected {
  background-color: var(--tnic-primary-color-hover);
  fill: #fff;
  color: #fff;
}

.tnic-dropdown__right .tnic-dropdown--menu {
  right: 0;
}
.tnic-dropdown__right .tnic-button--icon {
  margin: 0;
  margin-right: calc(-0.5em - 2px);
}

.tnic-dropdown__left .tnic-dropdown--menu {
  left: 0;
}

.tnic-dropdown__center .tnic-dropdown--menu {
  left: 0;
  right: 0;
}

.tnic-dropdown--menu {
  cursor: auto;
  position: absolute;
  display: none;
  outline: 0;
  user-select: none;
  top: 105%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin: 0;
  padding: 5px 0;
  background: #fff;
  font-size: var(--tnic-body-font-size);
  text-shadow: none;
  text-align: left;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 15%);
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  z-index: 11;
}

.tnic-dropdown--item {
  position: relative;
  cursor: pointer;
  display: block;
  border: none;
  height: auto;
  text-align: left;
  border-top: none;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.87);
  padding: 0.6em;
  font-size: var(--tnic-body-font-size);
  text-transform: none;
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-touch-callout: none;
}

.tnic-dropdown--item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  color: #000;
  fill: #000;
}

.tnic-dropdown--item .tnic-icon {
  margin-right: 0.5em;
}

/** ChartContainer **/

.tnic-chartContainer {
  padding: 1em;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.tnic-chartContainer--container {
  height: 27px;
  display: flex;
  flex-direction: row;
}

.tnic-chartContainer--title {
  flex: 1;
  font-size: var(--tnic-title-font-size);
  line-height: 30px;
  justify-content: space-evenly;
  text-align: center;
  min-height: 30px;
}

.tnic-chartContainer--actions {
  flex: 0;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 15px;
  min-height: 30px;
  visibility: hidden;
}

.tnic-chartContainer--actions .tnic-button {
  margin: 0;
}

.tnic-chartContainer:hover .tnic-chartContainer--actions {
  visibility: visible;
}

/* legend fix for rechart */
.tnic-chartContainer .recharts-default-legend .recharts-legend-item {
  display: inline-flex !important;
  align-items: center;
}
